.input-block {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: var(--gap-md) var(--gap-lg);
  color: var(--very-dark-gray);
  border: none;
  border-radius: 0.9375rem 0 0 0.9375rem;
  -webkit-border-radius: 0.9375rem 0 0 0.9375rem;
  -moz-border-radius: 0.9375rem 0 0 0.9375rem;
  -ms-border-radius: 0.9375rem 0 0 0.9375rem;
  -o-border-radius: 0.9375rem 0 0 0.9375rem;
}

.input:focus {
  outline: 1px solid var(--dark-gray);
  -moz-outline-radius: 0.9375rem 0 0 0.9375rem;
}

@media (min-width: 960px) {
  .input {
    padding: calc(var(--gap-sm) * 1.5) var(--gap-md);
  }
}
